<h2 class="text-center"><%= t('.sign_up', :default => "Sign up") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="text-center"><%= f.label :email , :class => 'h4 font-weight-normal my-3'%><br />
  <%= f.email_field :email, :class => 'form-control col-3 mx-auto', :placeholder => 'Email'%></div>

  <div class="text-center"><%= f.label :password , :class => 'h4 font-weight-normal my-3'%><br />
  <%= f.password_field :password, :class => 'form-control col-3 mx-auto', :placeholder => 'Password'%></div>

  <div class="text-center"><%= f.label :password_confirmation , :class => 'h4 font-weight-normal my-3'%><br />
  <%= f.password_field :password_confirmation, :class => 'form-control col-3 mb-3 mx-auto', :placeholder => 'Password confirmation' %></div>

  <div class="text-center"><%= f.submit t('.sign_up', :default => "Sign up"), :class => 'btn btn-warning mb-3 col-1' %></div>
<% end %>

<%= render "devise/shared/links" %>
