<h1>Hello Vrezh jan!!!</h1>


<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

  <div class="row bg-dark">
    <div class="col-sm-12 text-xs-center bootstrap-welcome">
      <h1 class="text-warning">Bootstrap 4 Works!</h1>
      <p class="lead text-warning">Go ahead and build your awesome app now.</p>
    </div>
  </div>
<% end %>
