<h2 class="text-center"><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class = 'text-center'><%= f.label :email %><br />
  <%= f.email_field :email , :class => 'form-control col-3 mx-auto'%></div>

  <div class="text-center mt-2"><%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), :class => 'btn btn-warning' %></div>
<% end %>

<%= render "devise/shared/links" %>
