<h2 class="text-center"><%= t('.sign_in', :default => "Sign in") %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="text-center"><%= f.label :email %><br />
  <%= f.email_field :email, :class => 'form-control col-3 mx-auto' %></div>

  <div class="text-center"><%= f.label :password %><br />
  <%= f.password_field :password , :class => 'form-control col-3 mx-auto'%></div>

  <% if devise_mapping.rememberable? -%>
    <div class="text-center"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="text-center"><%= f.submit t('.sign_in', :default => "Sign in"), :class => "btn btn-warning" %></div>
<% end %>

<%= render "devise/shared/links" %>
